.spa {
    color: blueviolet;
    border: 2px solid rgb(132, 0, 255);
}

#space_input {
    width: 70px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding-left: 3px;
    outline: none;
}

#space_input:focus {
    border: 2px solid rgb(132, 0, 255);
}

#empty_space {
    cursor: grab;
} 

#empty_space:active {
    cursor: grabbing;
}