.inp {
    border: 2px solid rgb(223, 126, 0);
    color: rgb(255, 123, 0);
    cursor: grab;
    background-color: rgb(0, 0, 81);
}
.inp:active {
    cursor: grabbing;
}

.inp_field {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}