.pri {
    border: 2px solid yellow;
    color: rgb(255, 187, 0);
    background-color: rgb(0, 0, 81);
}

.print_output {
    width: 100px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(19, 19, 150);
    outline: none;
}

.print_output:focus {
    border: 2px solid rgb(255, 187, 0);
}

#print {
    cursor: grab;
} 

#print:active {
    cursor: grabbing;
}

