.variable-creation-window {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.form {
    width: 80%;
    height: 60%;
    min-height: 400px;
    min-width: 400px;
    border-radius: 24px;
    background-color: rgb(43, 43, 99);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form p {
    color: white;
    font-size: 2rem;
    font-weight: bold;

}
.form input, .form select {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 3px solid blue;
    color: black;
}
.button-carrier {
    margin-bottom: 20px;
}

.vari {
    color: red ;
    border: 2px solid red;
    background-color: rgb(0, 0, 81);
    gap: 30px;
    padding: 5px 0 5px 0;
}
#variable_container {
    position: relative;
}
#variable_container button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    width: 50px;
    font-size: 25px;
    color: red;
    background-color: transparent;
    border: 1px solid red;
 
}
#variable_container button:hover {
    background-color: red;
    color: white;
}

.boxes {
    width: 43%;
    height: 85%;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    padding: 2%;
}




#varname {
    width: 50px; 
    border-radius: 15px; 
    outline: none; 
    border: 1px solid rgb(255, 255, 255);

    background-color: rgb(19, 19, 150); 
    text-align: center;
}
#varname:focus {
    border: 2px solid red;
}

#varvalue {
    width: 50px; 
    border-radius: 15px; 
    outline: none; 
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(19, 19, 150);
}
#varvalue:focus {
    border: 2px solid red;
}

.created_variables {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    background-color: rgb(0, 77, 145);
    color: white;
    border-radius: 5px;
    border: 1px solid red;
    padding: 2px;
    cursor: grab;
}
.created_variables:active {
    cursor: grabbing;
}

.valueInput {
    text-align: center; 
    border-radius: 10px; 
    outline: none; 
    border: 1px solid rgb(0, 0, 0, 0.4);
}